In [1]:
import pandas as pd

# Confirt dictionary to dataframe

In [35]:
data = {
    'name':["malak" ,"walaa" ,"menna"],
    'age':[20,21 ,40],
    "city":["giza","m3ady" ,"oct"]
}
df =pd.DataFrame(data)
print(df)

    name  age   city
0  malak   20   giza
1  walaa   21  m3ady
2  menna   40    oct

In [11]:
read_file =pd.read_csv("your_data_with_revisit.csv")
print(read_file.head())
print(read_file.tail())

   CustomerID  Age  Gender     CostPaid  ServiceUsageCount  QualityOfService  \
0           1   38  Female   749.097626                 24                 2
1           2   30    Male   735.224916                 18                 5
2           3   55    Male  1145.520305                 22                 3
3           4   39  Female   925.460535                 14                 4
4           5   51    Male   108.359916                  9                 3

   SpeedOfService  StaffHelpfulness  WebsiteEaseOfAccess NeedToRevisit  \
0               1                 3                    5            No
1               4                 4                    5           Yes
2               5                 4                    1            No
3               3                 2                    4           Yes
4               3                 2                    5           Yes

   DiscountUsage RegularUser  OverallSatisfaction SatisfactionCategory
0     135.392573          No                 2.75              Average
1     193.450663         Yes                 4.50            Excellent
2     147.246263         Yes                 3.25              Average
3      56.362894         Yes                 3.25              Average
4     338.731055          No                 3.25              Average
     CustomerID  Age  Gender     CostPaid  ServiceUsageCount  \
495         496   25  Female  1331.673244                  2
496         497   53    Male  1031.814050                  2
497         498   42  Female  1554.718256                 26
498         499   35    Male  1744.891965                 11
499         500   60    Male   110.985526                 14

     QualityOfService  SpeedOfService  StaffHelpfulness  WebsiteEaseOfAccess  \
495                 1               4                 5                    5
496                 3               3                 1                    3
497                 5               1                 2                    3
498                 2               2                 3                    2
499                 3               5                 1                    4

    NeedToRevisit  DiscountUsage RegularUser  OverallSatisfaction  \
495            No     483.526690          No                 3.75
496            No     372.031011         Yes                 2.50
497            No     373.020405          No                 2.75
498           Yes     414.246263          No                 2.25
499            No      85.895089         Yes                 3.25

    SatisfactionCategory
495            Excellent
496              Average
497              Average
498              Average
499              Average

In [15]:
# (read_file.describe())

read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            500 non-null    int64
 1   Age                   500 non-null    int64
 2   Gender                500 non-null    object
 3   CostPaid              500 non-null    float64
 4   ServiceUsageCount     500 non-null    int64
 5   QualityOfService      500 non-null    int64
 6   SpeedOfService        500 non-null    int64
 7   StaffHelpfulness      500 non-null    int64
 8   WebsiteEaseOfAccess   500 non-null    int64
 9   NeedToRevisit         500 non-null    object
 10  DiscountUsage         500 non-null    float64
 11  RegularUser           500 non-null    object
 12  OverallSatisfaction   500 non-null    float64
 13  SatisfactionCategory  500 non-null    object
dtypes: float64(3), int64(7), object(4)
memory usage: 54.8+ KB

## CLEAN DATA

1) handle missing values

In [1]:
df['age'].fillna(df['age'].mean() , inplace=True)

NameError: name 'df' is not defined

2) drop null  , drop row if the

In [ ]:
df.dropna(subset="age" ,inplace=True)

3) drop duplicates

In [ ]:
df.drop_duplicates(inplace=True)

4) rename col

In [ ]:
df.rename(columns={'city':"location"} ,inplace=True)

print(df)

    name  age location
0  malak   20     giza
1  walaa   21    m3ady
2  menna   40      oct

apply function to col

In [ ]:
df['age']= df['age'].apply(lambda x:x +1)
print(df)

    name  age  location_giza  location_m3ady  location_oct
0  malak   21           True           False         False
1  walaa   22          False            True         False
2  menna   41          False           False          True

# binning data ??????

In [43]:
df['age_group'] = pd.cut(df['age'] , bins=[20,30,40] ,labels= ['20-30' ,"30,40"])

# one hot encoding , dummies (convert text to numbers)

In [42]:
df =pd.get_dummies(df,columns=['location'])

print(df)

KeyError: "None of [Index(['location'], dtype='object')] are in the [columns]"